<div ng-app="theApp">
    <div ng-controller="searchMeController">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1 style="font-family: Graduate, 'Helvetica Neue', sans-serif;">SeARch Me!?</h1>
                <p>An example of a fake AngularJS search service with Boostrap styling</p>
            </div>


            <div class="page-header">
                <h3>Click a preset search button, or type in your custom search phrase</h3>
            </div>
            <p>
                <button type="button" class="btn btn-lg btn-primary">James Bond</button>
                <button type="button" class="btn btn-lg btn-warning">Star Wars</button>
            </p>
            <p>
                <input class="form-control input-lg" id="inputlg" type="text" name="searchPhrase" ng-model="searchPhrase" ng-change="searchPhraseChange()"
                select-on-click>
                <br>
            </p>

            <!--h2>Search Results</h2-->
            <h2>{{searchResponse}}</h2>
            <ul>
                <li ng-repeat="r in searchResults track by $index" class="reveal">
                    {{$index + 1}} - <a href="{{r.weblink}}">{{r.title}}</a>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
</div>